.container-fluid{
    margin: 0;
    padding: 0;
}
.frase-inicio{
    color: white;
    font-size: 3.5em;
    text-align: center;
    padding-top: 10%;
}
.parrafo-inicio{
    color: white;
    font-size: 2.5em;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
}
.fondo{    
    margin: 0;
    padding: 0;    
    background-size:100%;    
    width: 100%;         
    background-repeat: no-repeat; 
    background-image: url("../resources/img/img-fondo3.jpg") ;               
}
.input-buscar-curso{
    width: 60%;
    margin: 0 auto;
}
.btn-buscar-curso{
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
}
.fila-titulo-cursos{
    padding-top: 13%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 3em;    
}
.titulo-curso{
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}
.descripcion-curso{
    text-align: center;
}

.frase-final{    
    text-align: center;
    font-size: 2em;
    padding: 50px 5% 50px 5%;
    font-weight: bold;
}
hr{
    margin: 0;
}
.card-cursos{
    padding-top: 30px;
}